#input {
    padding: 7px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
}

h1 {
    font-size: 3em;
}

html, body, div, button {
    font-family: "Open Sans",sans-serif;
}
