body{
    background-image: url('../css/background.png');
    background-attachment: fixed;
}

.hr {
    display: none;
    background-color: #747373;
    height: 3px;
    margin: 0 auto;
    width: 33%;
    margin-bottom: 40px;
}

#header{
    height: 160px;
}

#input {
    padding: 7px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
    margin-bottom: 0px;
}

h1 {
    color: #747373;
    font-weight: bold;
    font-size: 3em !important;
    font-family: "Open Sans",sans-serif !important;
}

html, body, div, button {
    font-family: "Open Sans",sans-serif !important;
}

.github-corner {
    display: none;
}

#noUser{
    display: none;
}

#star {
    display: none;
}

.btn {
    background-image: none !important;
    border-color: none !important;
    margin-bottom: 100px !important;
}

.btn-success {
    background-color: #2ecc71 !important;
}

.loader:before, .loader:after, .loader {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1s infinite ease-in-out;
    animation: load7 1s infinite ease-in-out;
}

.loader {
    display: none;
    color: #f1e05a;
    font-size: 10px;
    margin: 5px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before {
    color: #F7464A;
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    color: #3572A5;
    left: 3.5em;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

#barChart, #lineChart, #pieChart, #doughnutChart, #radarChart, #polarChart {
    display: none;
    margin-bottom: 50px;
}
